
<div ng-repeat="question in questions" question='question'>
        
                <div>
                    <p>{{question.question}}</p>
        
                </div>
                <div>
                    <form>
                        <input type="radio"  value="question.incorrect_answers[0]"> {{question.incorrect_answers[0]}}<br>
                        <input type="radio"  value="question.incorrect_answers[1]"> {{question.incorrect_answers[1]}}<br>
                        <input type="radio"  ng-click="challenge()" value="question.correct_answer"> {{question.correct_answer}}<br>
                        <input type="radio"  value="question.incorrect_answers[2]"> {{question.incorrect_answers[2]}}<br>
                    </form>
        
                </div>
            </div>
            <button ng-click="solo()">Submit</button>
