<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div>

        <div>
            <p>{{question}}</p>

        </div>
        <div>
            <form>
                <input type="radio"  value="$scope.answer[1]"> {{answer[1]}}<br>
                <input type="radio"  value="$scope.answer[1]"> {{answer[1]}}<br>
                <input type="radio"  value="$scope.answer[2]"> {{answer[2]}}<br>
                <input type="radio"  value="$scope.answer[3]"> {{answer[3]}}<br>
            </form>

        </div>
    </div>


</body>

</html>