<!DOCTYPE html>
<html lang="en" ng-app="app'">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="libs/bootstrap/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <form action='/answer' method='POST'>
            <input type='text' placeholder="Your Answer" name='answer'>
            <button type="submit">Submit</button>
        </form>

        <div class="container">
            <div ng-view></div>
        </div>
    
        
        
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-angular-route.js"></script>
    <script type="text/javascript" src="angularjs/app.js"></script>
    <script type="text/javascript" src="angularjs/controllers/homeController.js"></script>
    </body>
</html>