<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="quizShowdown" ng-controller='indexCtrl'>

    <div class="topnav" id="myTopnav">
        <a href="/answerBox">Quiz Showdown</a>
        <a href="/leaderBoard">Leader Board</a>
        <a href="/stats">Your Stats</a>
    </div>


    <div class='container'>
        <div class="ng-view">


        </div>
    </div>





    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="angularjs/app.js"></script>
    <script type="text/javascript" src="angularjs/controllers/homeController.js"></script>
    <script type="text/javascript" src="angularjs/services/Api.js"></script>
    <script type="text/javascript" src="libs/angular-resource/angular-resource.js"></script>
</body>
</html>