<!DOCTYPE html>
<html lang="en" ng-app="quizShowdown">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div ng-view></div>
    </div>
    <form action='/signup' method='POST'>
        Username:
        <input type='text' name='username'>
        Password:
        <input type='text' name='password'>
        <button type="submit">Signup</button>
    
    </form>


    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="angularjs/app.js"></script>
    <script type="text/javascript" src="angularjs/controllers/homeController.js"></script>

</body>
</html>